.navbar {
  width: 100%;
  padding: .2rem;
  height: fit-content;
  background-color: #0ebde9;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;


  .search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem;

    .search-input {
      width: 80%;
      height: 2.5rem;
      padding: .5rem;
      border: none;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      border-radius: 7px;
    }
  }

  .menu {
    display: flex;
    justify-content: end;
    align-items: end;
    margin: 1rem;

    .user-info {
      margin-right: 1rem;

      .header-image {
        image-resolution: 100px 100px;
        width: 80px;
        min-width: 50px;
        height: 80px;
        min-height: 50px;
        border-radius: 50%;
        padding: 2rem auto;
        margin-left: 1rem;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
      }

      .user-name {
        color: white;
        font-weight: 500;
        font-size: medium;
      }
    }

    .menu-button {
      color: white;
      font-weight: 500;
      font-size: large;
      background-color: transparent;
      border: none;
    }

    .menu-item {
      color: white;
      font-weight: 500;
      font-size: medium;
    }
  }
}
